@import url('https://v1.fontapi.ir/css/SFProDisplay:400');


:root {
    --amber: #ffbe0bff;
    --orange-pantone: #fb5607ff;
    --winter-sky: #ff006eff;
    --blue-violet: #8338ecff;
    --azure: #3a86ffff;
}

* {
    font-family: 'SF Pro Display', Helvetica;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--blue-violet);
    text-align: center;
    color: aliceblue;
}

h1 {
    padding-top: 20px;
}

p {
    padding: 10px;
    font-weight: 700;
}

label {
    display: block;
    font-weight: 600;
    padding: 10px;
}

input {
    border-radius: 1rem;
    padding: 5px;
}

button {
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    border-radius: 0.5rem;
}

#output-box {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 10px;
    font-weight: 800;
}